/* Place CSS styles here */
h1 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Shadows Into Light', cursive;
	color: cyan;
	text-shadow: 1px 1px 1px #000, 2px 2px 3px black;
	line-height: 10px;
	padding-bottom: 30px;
}

h2 {
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-family: 'Josefin Sans', sans-serif;
	color: darkcyan;
	text-shadow: 1px 1px 1px #000, 3px 3px 3px grey;
	line-height: 10px;
	padding-bottom: 20px;
}

h3 {
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	text-shadow: 1px 1px 1px #000, 2px 2px 5px black;
	line-height: 10px;
	padding-bottom: 10px;
}

.hope-intro-image {
	width: 500px;
	text-align: center;
  }

  .hope-intro-container {
	text-align: center;
  }

  .hope-intro-paragraph {
	text-transform: uppercase;
	color: white;
	font-family: 'Kanit', sans-serif;
	font-weight: 100;
	font-size: 60px;
  }
  .hope-intro-paragraph-no {
	text-transform: lowercase;
	font-size: 1.5rem;
	color: palevioletred;
	font-size: 60px;
	margin-top: 0;
  }

  .hope-intro-paragraph-drinking {
	font-family: 'Lobster', cursive;
  }

.light-picture {
	background-image: url("../img/wallpaper.jpg");
	background-size: cover;
	background-position: center center;
	padding-top: 1px;
}